/* CSS for SI-539 Exam */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-wrapper {
    border: solid blue 5px;
    padding: 5%;
    width: 49.9%;
    display: inline-block;
}

.img-wrapper img {
    width: 100%;
}